---
import Meta from "../komponen/meta.astro";
import Header from "../partial/header.astro";
import Github from "../partial/github.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Header />
    <Github />
  </body>
</html>
